@using ComputerShopContracts.ViewModels
@{
    ViewData["Title"] = "CreatePoltechnic";
}
@model List<ComplectViewModel>

<div class="text-center">
    <h2 class="display-4">Создание получения техники</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8"><input type="text" name="poltechnicname" id="poltechnicname" /></div>
    </div>
    <div class="row">
        <div class="col-4">Дата получения:</div>
        <div class="col-8">
            <input type="datetime" id="datepos" name="datepos" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">Комплектующее:</div>
        <div class="col-8">
            <select id="complectId" name="complectId" class="form-control" multiple asp-items="@(new SelectList(@ViewBag.Complects,"Id", "ComplectName"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btnprimary" /></div>
    </div>

</form>
