@{
    ViewData["Title"] = "CreatePostavka";
}
<div class="text-center">
    <h2 class="display-4">Создание поставки</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8">
            <input type="text" name="postavkaname" id="postavkaname" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">Дата поставки:</div>
        <div class="col-8"><input type="datetime" name="postavkacreate" id="postavkacreate" /></div>
    </div>
    <div class="row">
        <div class="col-4">Закупка:</div>
        <div class="col-8">
            <select id="zakupka" name="zakupka" class="form-control" asp-items="@(new SelectList(@ViewBag.Zakupkas,"Id", "ZakupkaName"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btnprimary" /></div>
    </div>
</form>
