@{
    ViewData["Title"] = "CreateComplect";
}
<div class="text-center">
    <h2 class="display-4">Создание комплектующего</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8">
            <input type="text" name="complectname" id="complectname" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">Цена:</div>
        <div class="col-8"><input type="number" name="price" id="price" /></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btnprimary" /></div>
    </div>
</form>