@using ComputerShopContracts.ViewModels
@model List<PostavkaViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Поставки</h1>
</div>
<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <p>
            <a asp-action="CreatePostavka">Создать поставку</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Номер
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Дата поставки
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostavkaName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostavkaCreate)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>
